# Telegram Configuration
TELEGRAM_API_ID=29644709
TELEGRAM_API_HASH=b7d2e834f95f653c85e1954e0f68b4c7
TELEGRAM_PHONE=+380939691649
TELEGRAM_SESSION_NAME=news_trader_session
TELEGRAM_CHANNEL_USERNAME=@BWEnews

# Proxy Configuration (optional)
USE_PROXY=false
PROXY_HTTP=http://user:pass@host:port
PROXY_HTTPS=http://user:pass@host:port
PROXY_SOCKS5=socks5://user:pass@host:port

# Logging Configuration
LOG_LEVEL=INFO
NEWS_LOG_FILE=/app/logs/bwe_news_log.txt

# RSS Configuration
RSS_UPDATE_INTERVAL=3

# WebSocket Configuration
WEBSOCKET_PING_INTERVAL=30
